ufc/
LINGUAGEM DE PROGRAMAÇÃO PYTHON APLICADA A MACHINE LEARNING/MaterialDoCurso/Python para ML - 2026/
LINGUAGEM DE PROGRAMAÇÃO PYTHON APLICADA A VISUALIZAÇÃO DE DADOS/ProjetoFinal/frota_ativa_sao_paulo.csv
